body {
	background: #000;
	font-family: Arial, Helvetica, sans-serif;
	color: #777;
}

a {
	color:#aaa;
	text-decoration: none;
	font-size: 10pt;
	border: none;
	outline: none;
}

a:focus, a:active, a:visited, a:hover {
	border: none;
	-moz-outline-style: none;
	outline: none;
}

a img {
	border: none;
	outline: none;
	-moz-outline-style: none;
}

img { 
	border: none;
	outline: none;
	-moz-outline-style: none;
}

#wrapper {
	width: 900px;
	height: 450px;
	margin: 0 auto;
	background: transparent url(http://lh5.ggpht.com/_rv96CE1pup8/TNV4NzT4QaI/AAAAAAAAC3c/cXYrnnYbM5c/logo_gray.png) no-repeat bottom left;
}

#footer {
	width: 900px;
	margin: 0px auto;
	clear: both;
}

#breadcrumb {
	width: 700px;
	text-decoration: none;
	color: #777;
}

#copyright {
	width: 100px;
	float: right;
	text-align: right;
}

.hidden {
	display: none;
}

#header {
	margin: 10px auto;
	text-align: center;
}

#pageTitle {
	font-family: 'Lobster', serif;
	font-size: 40pt;
	color: #300;
	border: 
}

#logo {
	position: relative;
	display: inline;
	float: left;
	top: 350px;
	left: 0px;
	z-index: 5;
}
