#wrapper {
	height: auto;
	min-height: 450px;
	padding-bottom: 90px;
}

.card {
	width: 445px;
}

.card img {
	margin: 0 auto;
}

#logo {
	display: block;
	float: none;
	left: auto;
	position: auto;
	top: auto;
}
