#wrapper {
	height: auto;
	padding-bottom: 100px;
	margin: 0 auto;
}

.event_listing {

}

.event_listing img {
	width: 188px;
	height: 188px;
}

.event_listing span {
	padding-left: 10px;
	display: inline-block;
	max-height: 188px;
	position: relative;
	top: -94px;
}

h1 {
	margin-bottom: 0px;
	margin-top: 0px;
}

ul {
	list-style: none;
	border: 0px solid #777;
	border-left-width: 4px;
	margin: 0px 0px 0px 15px;
}

.event_listing a {
	font-size: 12pt;
}
