* {
	margin: 0px;
	padding: 0px;
}

html {
	background: #989589 url(/g/site_bg.png) top center no-repeat;
	font-family: 'Cantarell', Futura, 'Liberation Sans', Arial, sans-serif;
}

a {  
	text-decoration: none;
	border: none;
	outline: none;
}

a:focus, a:active, a:visited, a:hover {
	border: none;
	/*-moz-outline-style: none;*/
	outline: none;
}

a img {
	border: none;
}

.right {
	float: right;
}

.left {
	float: left;
}

.clearboth {
	clear: both;
}

.coloredText {
	color: #3b3728;
}

.whiteText {
	color: #fff;
}

.grayText {
	color: #ddd;
}

.centeredText {
	text-align: center;
}

.rightText {
	text-align: right;
}

#mainWrapper {
	width: 1000px;
	margin: 0 auto;
	margin-top: 225px;
}