#content ul {
	font-family: serif;
	font-size: 11pt;
}

#content ul {
	margin-left: 25px;
	margin-bottom: 10px;
}

.twoThirds {
	display: block;
	padding-top: 15px;
/*	width: 64%;*/
	float: left;
}

#header_wrapper {
	text-align: center;
	margin-bottom: 20px;
	margin-top: 10px;
}