td.icon a.btn-link {
	padding: 0px;
}

.popover-image {
	float: left;
	height: 80px;
	width: 80px;
	padding-bottom: 9px;
}

.popover-list {
	float: left;
	list-style: none;
	margin-left: 10px;
}

.popover-name {
	margin-right: 10px;
}

.label {
	float: right;
	margin: 0px 2px;
}

#footer {
	text-align: center;
	margin-bottom: 0px;
}

td.icon {
	width: 18px;
}

.notice, .notice a {
	color: #c09853;
}

.bot, .bot a {
	color: #999;
}

.date-icon, .bookmark-icon, .date-icon:hover, .bookmark-icon:hover {
	color: #555;
	text-decoration: none;
}

#search-text {
	border-right-width: 0px;
}

#channel {
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
}